* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Dubai", sans-serif;
}

body {
    background-color: #1f2121;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 5vh;
    border-radius: 5vh;
    box-shadow: 0px 4px 20px rgba(248, 172, 41, 0.2);
    backdrop-filter: blur(2vw);
    padding: 1vh 0;
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
}

.link {
    height: 100%;
    width: auto;
    padding: 0 1.5vw;
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
    text-decoration: none;
    line-height: 5vh;
    transition: color 0.5s ease-in-out;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover {
    color: #f8ac29;
}

#nav-logo {
    height: 5vh;
    width: auto;
    padding: 0 5vh;
}

#nav-hamburger-logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-link {
    padding-right: 5vh;
}

.hamburger {
    display: none;
}

#nav-text-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    #nav {
        width: 90vw;
        height: fit-content;
        flex-direction: column;
        align-items: stretch;
    }

    .final-link {
        padding-right: 1.5vw;
    }

    #nav-text-links {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.8s ease;
    }

    #nav-hamburger-logo-group {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        height: fit-content;
    }

    #nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2.5vw;
    }
    
    .hamburger {
        display: inline-block;
        padding: 0 5vw;
    }

    .phone .final-link {
        padding: 0;
    }

    .phone .hamburger {
        padding: 0 5vw;
    }
    
    .phone #nav-text-links {
        max-height: 56vh;
    }

    .text-link {
        display: inline-block;
        height: 8vh;
        line-height: 8vh;
        opacity: 0;
        transform: translateY(-10px);
        transition: transform 0.8s ease, opacity 0.8s ease 0.1s;
    }

    #nav.phone {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .phone .text-link {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.8s ease, opacity 0.8s ease;
    }
}

.banner {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/nats/1-072A9764.jpg");
    background-size: cover;
    background-position: center;
}