* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    overflow-x: hidden;
}

:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #222;
    --background: white;
    --hamburger-margin: 1rem;
    --hamburger-margin-right:3rem;
    --animation-timing: 0.7s ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
    background-color: #2b2927;
    color: white;
    font-family: "Dubai", "Comic Sans MS", "Arial Rounded MT Bold", sans-serif;
    z-index: -1;
}

.desk_nav {
    background-color: #1f2121;
    width: 100%;
    z-index: 1000;
    text-align: left;
    top: 0;
    position: relative;
    height: 3rem;
    padding: 0.75rem 0;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    display:flex;
}


.hamburger-nav{
    background-color: #1f2121;
    width: 100%;
    z-index: 1000;
    text-align: left;
    top: 0;
    position: relative;
    height: 3rem;
    padding: 0.75rem 0;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    display:none;
}

@media screen and (max-width: 1100px) {
    .desk_nav {
      display: none;
    }
    .hamburger-nav {
      display:flex;
    }
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin-right);
    z-index: 2001;
    cursor: pointer;
    overflow: hidden;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: white;
    transition: background-color 0.5s ease;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: 999px;
    padding: 1rem 1rem 1rem 1rem;
    top:4rem;
    right:1rem;
    background-color: var(--color-nav-dark);
    color: var(--background);
    transition: background-color 0.5s ease;
    width:50%;
    max-width: 15rem;
    min-height: 5em;
    position:fixed; 
    display: inline-block;
    z-index: 2000;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.sidebar li{
list-style: none;
}
.hamburger-menu:has(input:checked) + .sidebar {
translate: 0;
}

.logo img{
    left: 5%;
    display: block;
    height: 3.5rem;
    width: 3.5rem;
}

.links {
    text-align:center;
    display:flex;
    gap:1rem;
    list-style: none;
}

.link {
    display: inline-flex;
    text-align: center;
    padding: 0 1.75rem;
    font-size: 1.5rem;
    background-color: #1f2121;
    color: white;
    font-weight: bold;
    margin-left: -0.25rem;
    text-decoration: none;
}

.link:hover {
    animation-name: selection;
    animation-duration: 0.5s;
    color: #f8ac29;
}

.topnav .icon {
    display: none;
    color: white;
    padding: 1.25rem;
}

@keyframes selection {
    from {
        background-color: #1f2121;
        color: white;
    }
    to {
        color: #f8ac29;
    }
}

.topnav .icon:hover {
    background-color: #f8ac29;
}

.banner {
    background-image: url(./banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    float: left;
    text-align: center;
    color: #f8ac29;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.banner h1 {
    font-size: 17vw;
    position: relative;
    width: 99vw;
    text-align: center;
    border: 1px #1f2121 ;
    text-shadow: 0px 0px 60px #1f2121, 0px 0px 50px #2b2927;
}


.banner h3 {
    font-size: 6.6666666667vw;
    width: 99vw;
    text-shadow: 5px 5px 7px #1f2121;
}

.info {
    width: 65%;
    margin: auto;
}

.info h1 {
    font-weight: bolder;
    padding: 8px 0;
    font-size: 36px;
}

.info hr{
    background: linear-gradient(90deg, hsla(39, 85%, 56%, 1) 0%, hsla(51, 86%, 58%, 1) 100%);
    height:2px;
    width: 100%;
    margin-bottom: 1rem;
}

.info h2 {
    padding: 1.2rem 0;
    font-size: 1.35em;
}

.info p {
    padding-bottom: 1.25rem;
    font-size: 1.2rem;
}

.info a {
    font-size: 1.25rem;
}

a {
    color: #f8ac29;
}

.article {
    background-color: #f8ac29;
    color:#1f2121;
    border-radius: 30px;
    width: 47%;
    margin: 20px 9px;
    display: inline-block;
}

.content {
    padding: 1.25rem;
}

.content h2 {
    padding-top: 0;
}

.chip {
    display: inline-block;
    margin: 0 1.25rem;
    padding: 0 16px;
    background-color: #f8ac29;
    color: #1f2121;
    border-radius: 1.25rem;
    text-decoration: none;
    margin-top: 1.25rem;
}

.chip .fa {
    padding-top: 8px;
    padding-right: 8px;
}

.chip .fab {
    padding-top: 8px;
    padding-right: 8px;
}

footer {
    margin-top: 8px;
    background-color: #1f2121;
    padding: 1.25vw 2.294455067vh;
    height: auto;
}

#sponsors {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#sponsors img {
    height: 64px;
}

.full {
    width: 100%
}

.footnav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footlink {
    font-size: 25px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 1.25rem
}

.footlink:hover {
    animation-name: selection;
    animation-duration: 0.5s;
    color:#f8ac29;
}

#copyright {
    padding-top: 0.625rem;
    width: 100%;
    margin: auto;
    font-size: 1.25rem;
    text-align: center;
}

.social-links {
    padding-top: 25px;
    text-align: center;
}

.social-links a {
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}

ul {
    padding-left: 40px;
}

#heh {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    margin-bottom: 8%;
}

#heh div {
    margin-top: 4%;
}

#hehehe {
    border-radius: 50%;
    width: 33%;
}

.but {
    background-color: #f8ac29;
    color: white;
    border-radius: 100px;
    padding: 5px 12%;
    margin: 5px;
    font-size: 30px;
    font-family: "Dubai", "Comic Sans MS", "Arial Rounded MT Bold", sans-serif;
}

#plzwork {
    padding-top: 0;
    margin-top: 0;
}

#plzwork2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
    .topnav {
        overflow: visible;
    }
    .topnav .icon {
        display: block;
    }

    .link {
        display: block;
        text-align: center;
        width: 100%;
    }

    .banner {
        position: relative;
    }

    .banner h1 {
        font-size: 25vw;
    }

    .banner h3 {
        font-size: 15vw;
    }

    .info {
        width: 90%;
    }
    
    .content {
        width: 70vw;
    }

    .article {
        width: 90vw;
    }

    .footlink {
        margin-bottom: 20px;
    }

    .footnav {
        flex-direction: column;
        gap: 10px;
    }

    .social-links a img {
        width: 32px;
    }

    #sponsors img {
        height: 48px;
    }

    #curator-feed-default-feed-layout {
        display: none;
    }

    .tik {
        display: none;
    }

    .chip {
        margin: 0;
        width: 80%;
        margin-bottom: 3vh;
    }

    .link {
        display: block;
        padding-right: 0;
        padding-left: 0;
        border: 0;
    }
}