* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #2b2927;
    color: white;
    font-family: "Dubai", "Comic Sans MS", "Arial Rounded MT Bold", sans-serif;
    z-index: -1;
}

.topnav {
    background-color: #1f2121;
    width: 100%;
    height: 5.736137667vh;
    overflow: hidden;
}

.logo {
    float: left;
    display: block;
    height: 5.736vh;
    width: 3.125vw;
}

.links {
    height: 5.736137667vh;
}

.link {
    display: inline-block;
    text-align: center;
    padding: 1.003824092vh 1.458333333vw;
    font-size: 2.198852772vh;
    background-color: #1f2121;
    color: white;
    border-right: #f8ac29 1px solid;
    font-weight: bold;
    margin-left: -4px;
    text-decoration: none;
}

.link:hover {
    animation-name: selection;
    animation-duration: 0.5s;
    color: #f8ac29;
}

@keyframes selection {
    from {
        background-color: #1f2121;
        color: white;
    }
    to {
        color: #f8ac29;
    }
}

.topnav .icon {
    color: white;
    padding: 16.5px;
}

.topnav .icon:hover {
    background-color: #f8ac29;
}

.banner {
    background-image: url(./banner.png);
    height: 94.26386233vh;
    text-align: center;
    color: #f8ac29;
    margin-bottom: 2.868vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.banner h1 {
    font-size: 33.461vh;
}

.banner h3 {
    font-size: 11.472vh;
}

.info {
    width: 65%;
    margin: auto;
}

.info h1 {
    font-weight: bolder;
    padding: 0.417vw 0;
    font-size: 3.442vh;
}

.info h2 {
    padding: 1.042vw 0;
    display: inline-block;
}

.info p {
    padding-bottom: 1.912vh;
    font-size: 1.912vh;
}

.info a {
    font-size: 1.912vh;
}

a {
    color: #f8ac29;
}

.article {
    border: #f8ac29 1px solid;
    border-radius: 15px;
    width: 49%;
    display: inline-block;
}

.content {
    padding: 1.042vw 1.912vh;
}

.content h2 {
    padding-top: 0;
}

.chip {
    display: inline-block;
    margin: 0 1.912vh;
    padding: 0 1.53vh;
    background-color: #f8ac29;
    color: #1f2121;
    border-radius: 20px;
    text-decoration: none;
    float: right;
    margin-top: 1.912vh;
}

.chip .fa {
    padding-top: 0.765vh;
    padding-right: 0.417vw;
}

.chip .fab {
    padding-top: 0.765vh;
    padding-right: 0.417vw;
}

footer {
    margin-top: 0.765vh;
    background-color: #1f2121;
    padding: 1.25vw 2.294vh;
    height: 32.027vh;
}

#sponsors {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#sponsors img {
    height: 6.119vh;
}

.full {
    width: 100%
}

.footnav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.604vw 0;
}

.footlink {
    font-size: 2.39vh;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 1.912vh;
}

.footlink:hover {
    animation-name: selection;
    animation-duration: 0.5s;
    color:#f8ac29;
}

#copyright {
    padding-top: 0.956vh;
    width: 100%;
    margin: auto;
    font-size: 1.912vh;
    text-align: center;
}

.social-links {
    padding-top: 2.39vh;
    text-align: center;
}

.social-links a {
    padding: 0.417vw 0;
    display: inline-block;
}

ul {
    padding-left: 2.083vw;
}

#heh {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    margin-bottom: 8%;
}

#heh div {
    margin-top: 4%;
}

#hehehe {
    border-radius: 50%;
    width: 33%;
}

.but {
    background-color: #f8ac29;
    color: white;
    border-radius: 100px;
    padding: 0.26vw 12%;
    margin: 0.26vw 0.478vh;
    font-size: 2.868vh;
    font-family: "Dubai", "Comic Sans MS", "Arial Rounded MT Bold", sans-serif;
}

#plzwork {
    padding-top: 0;
    margin-top: 0;
}

#plzwork2 {
    padding-bottom: 0;
    margin-bottom: 0;
}
