* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #2b2927;
    color: white;
    font-family: "Dubai", "Comic Sans MS", "Arial Rounded MT Bold", sans-serif;
    z-index: -1;
}

.topnav {
    background-color: #1f2121;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.logo {
    float: left;
    display: block;
    height: 60px;
}

.link {
    display: inline-block;
    text-align: center;
    padding: 10px 28px;
    font-size: 23px;
    background-color: #1f2121;
    color: white;
    border-right: #f8ac29 1px solid;
    font-weight: bold;
    margin-left: -4px;
    text-decoration: none;
    height: 60px;
}

.link:hover {
    animation-name: selection;
    animation-duration: 0.5s;
    color: #f8ac29;
}

@keyframes selection {
    from {
        background-color: #1f2121;
        color: white;
    }
    to {
        color: #f8ac29;
    }
}

.topnav .icon {
    display: none;
    color: white;
    padding: 20px;
}

.topnav .icon:hover {
    background-color: #f8ac29;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
    .links a:not(:first-child) {display: none;}
    .links a.icon {
        float: right;
        display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
    .links.responsive {position: relative;}
    .links.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .links.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.banner {
    background-image: url(./banner.png);
    height: 1080px;
    text-align: center;
    color: #f8ac29;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.banner h1 {
    padding-top: 5%;
    font-size: 350px;
}

.banner h3 {
    font-size: 120px;
}

.info {
    width: 65%;
    margin: auto;
}

.info h1 {
    font-weight: bolder;
    padding: 8px 0;
    font-size: 36px;
}

.info h2 {
    padding: 20px 0;
    display: inline-block;
}

.info p {
    padding-bottom: 20px;
    font-size: 20px;
}

.info a {
    font-size: 20px;
}

a {
    color: #f8ac29;
}

.article {
    border: #f8ac29 1px solid;
    border-radius: 15px;
    width: 49%;
    display: inline-block;
}

.content {
    padding: 20px;
}

.content h2 {
    padding-top: 0;
}

.chip {
    display: inline-block;
    margin: 0 20px;
    padding: 0 16px;
    background-color: #f8ac29;
    color: #1f2121;
    border-radius: 20px;
    text-decoration: none;
    float: right;
    margin-top: 20px;
}

.chip .fa {
    padding-top: 8px;
    padding-right: 8px;
}

.chip .fab {
    padding-top: 8px;
    padding-right: 8px;
}

footer {
    margin-top: 8px;
    background-color: #1f2121;
    padding: 24px;
    height: 335px;
}

#sponsors {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#sponsors img {
    height: 64px;
}

.full {
    width: 100%
}

.footnav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footlink {
    font-size: 25px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 20px
}

.footlink:hover {
    animation-name: selection;
    animation-duration: 0.5s;
    color:#f8ac29;
}

#copyright {
    padding-top: 10px;
    width: 100%;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.social-links {
    padding-top: 25px;
    text-align: center;
}

.social-links a {
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}

ul {
    padding-left: 40px;
}

#heh {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    margin-bottom: 8%;
}

#heh div {
    margin-top: 4%;
}

#hehehe {
    border-radius: 50%;
    width: 33%;
}

.but {
    background-color: #f8ac29;
    color: white;
    border-radius: 100px;
    padding: 5px 12%;
    margin: 5px;
    font-size: 30px;
    font-family: "Dubai", "Comic Sans MS", "Arial Rounded MT Bold", sans-serif;
}

#plzwork {
    padding-top: 0;
    margin-top: 0;
}

#plzwork2 {
    padding-bottom: 0;
    margin-bottom: 0;
}
