* {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", helvetica;
}

@keyframes hover {
    from {
        background-color: #333333;
        color: white;
    }
    to {
        background-color: goldenrod;
        color: #333333;
    }
}

@media screen and (max-width: 943px) {
    .nav li a {
        display: none;
    }
    .nav li a.icon {
        float: right;
        display: block;
    }
    .nav li a#welcome {
        display: block;
    }
    div.left {
        width: 100%;
        float: none;
        display: block;
    }
    div.right {
        width: 100%;
        float: none;
        display: block;
    }
    .right img {
        height: 50%;
        width: 50%;
    }
    .left img {
        height: 50%;
        width: 50%;
    }
    div.info {
        margin: 15px;
        width: 100%;
        float: none;
        display: block;
    }
    .foot h3 { 
        text-align: center;
        width: 100%;
    }
    .foot div {
        display: block;
        width: 100%;
    }

    .foot div a {
        text-align: center;
    }
}

@media screen and (max-width: 943px) {
    .nav.responsive {
        position: relative;
    }
    .nav.responsive li a.icon {
        right: 0;
        top: 0;
        width: fit-content;
        float: right;
    }
    .nav.responsive li a {
        float: none;
        display: block;
        text-align: right;
        width: auto;
    }
    .nav.responsive li a#welcome {
        display: block;
        width: auto;
    }
}

nav {
    background-color: #333333;
    overflow: hidden;
    width: 100%;
}

nav ul li a {
    float: left;
    display: block;
    text-align: center;
    border: white 1px;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    height: 35px;
}

nav ul li a.image {
    height: 65px;
}

nav ul li a:hover {
    animation: hover 1s;
    background-color: goldenrod;
    color: #333333;
}

nav ul li img.logo {
    height: 65px;
    padding-bottom: 0;
    width: 65px;
    border-radius: 0;
}

nav ul li a.image {
    width: max-content;
    padding: 0;
    padding-bottom: 0;
}

img.banner {
    border-radius: 0;
    height: auto;
    width: 100%;
    padding-bottom: 3vw;
    text-align: center;
}

img {
    float: left;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    display: block;
}

section#middle {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 32px;
}

p.para {
    padding: 5px;
}

div.left {
    border: 3px solid goldenrod;
    border-radius: 25px;
    width: 48%;
    float: left;
    display: block;
    margin-bottom: 25px
}

div.right {
    border: 3px solid goldenrod;
    border-radius: 25px;
    width: 48%;
    float: right;
    display: block;
    margin-bottom: 25px
}

div.name {
    padding: 15px;
}

div img {
    margin: 15px;
}

div.info {
    float: right;
    display: block;
    width: 48%;
    margin: 15px;
}

blockquote {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    color: goldenrod;
    font-size: 16px;
    background-color: grey;
    text-align: end;
    width: fit-content;
    float: right;
}

img#car {
    height: 25%;
    width: 25%;
    float: left;
}

div.longright {
    border: 3px solid goldenrod;
    border-radius: 25px;
    float: right;
    display: block;
    margin-bottom: 25px;
    width: 72%;
    padding: 15px;
}

section#the-portfolio {
    padding-top: 25px;
}

footer {
    background-color: #333333;
    color: white;
    padding: 15px;
    height: 45px;
    padding-bottom: 0;
}

footer h3 {
    float: left;
}

footer div {
    float: right;
    display: block;
}

img.icon {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    border-width: 1px;
    border-color: white;
}

a.icon {
    display: none;
}