.first-line {
    display: flex;
    justify-content: left;
}

.second-line {
    display: flex;
    justify-content: center;
}

#yash {
    display: inline-block;
    width: 33%;
    padding: 0 17px;
    border: solid 1px #f8ac29;
    margin-bottom: 30px
}

#pranit {
    display: inline-block;
    width: 33%;
    padding: 0 17px;
    border: solid 1px #f8ac29;
    margin-bottom: 30px
}

#chen {
    display: inline-block;
    width: 33%;
    padding: 0 17px;
    border: solid 1px #f8ac29;
    margin-bottom: 30px
}

#josh {
    display: inline-block;
    width: 33%;
    padding: 0 17px;
    border: solid 1px #f8ac29;
    margin-bottom: 30px
}

#rayhaan {
    display: inline-block;
    width: 33%;
    padding: 0 17px;
    border: solid 1px #f8ac29;
    margin-bottom: 30px
}

#anu {
    display: inline-block;
    width: 33%;
    padding: 0 17px;
    border: solid 1px #f8ac29;
    margin-bottom: 30px
}

.person img {
    height: 256px;
    width: 256px;
    border-radius: 50%;
}

.join-info {
    color: #f8ac29;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    display: block;
    width: 100%;
}

.drop-button {
    background-color: #f8ac29;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
}

#sorts {
    display: none;
}

#filters {
    display: none;
}

#searchbar {
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    background-color: #1f2121;
    color: white;
    display: inline-block;
    width: 30%;
    border: solid 1px #f8ac29
}

li {
    padding-bottom: 20px;
    font-size: 20px;
}