.container {
    display:inline-block;
    width: 50%;
    border: 5px solid #f8ac29;
    padding: 5px 25px;
}
.containerer {
    display: flex;
    width: 100%;
}

#entry-car {
    width: 100%;
}

h3 {
    font-weight:1000;
}

.para {
    display: inline-block;
    width: 75%;
    float: left;
}
.img {
    display: inline-block;
    width: 25%;
    float:right;
}

@media screen and (max-width: 1000px) {
    .containerer {
        display: block;
    }
    .container {
        margin-left: 0;
        width: 70vw;
    }
    #entry-car {
        display: block;
        width: 67.5vw !important;
        height: auto;
    }
    .para {
        width: 100%;
        float: none;
    }

    .img {
        float: none;
        width: 100%;
    }
}