* {
    box-sizing: border-box;
}

.info {
    position: relative !important;
    max-width: 1200px;
    margin: 0 auto;
}
  
.info::after {
    margin-top: 50px;
    content: '';
    position: absolute;
    width: 6px;
    background-color: #f8ac29;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #1f2121;
    border: 4px solid #f8ac29;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
.left {
    left: 0;
}

.left::after {
    margin-top: 50px;
}
  
.right {
    left: 50%;
}
  
.right::after {
    left: -16px;
}
  
.contained {
    margin-top: 50px;
    padding: 20px 30px;
    background-color: #1f2121;
    position: relative;
    border-radius: 15px;
    border: 1px solid #f8ac29;
}
  
@media screen and (max-width: 1200px) {
    .info::after {
        left: 31px;
    }
  
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
  
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
        left: 15px;
    }
  
    .right {
        left: 0%;
    }

    .link {
        border: 0;
    }
}

.info {
    position: relative;
}